{% extends "app_learning_logs/base.html" %}
{% load bootstrap4 %}
{% block brand %} Home {% endblock brand %}
{% block page_header %}
    <h2>Edit entry for <a href="{% url 'app_learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'app_learning_logs:edit_entry' entry.id %}" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'app_learning_logs:topic' topic.id %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock content %}
