{% extends "app_learning_logs/base.html" %}
{% block brand %}{% endblock brand %} 
{% block content %}
<div class="jumbotron" style="background: rgba(255, 255, 255, 0.075); text-align: center; padding: 20px;">
    <h2 class="display-4 text-light" style="font-weight: bold;">Estrategias de estudio</h2>
</div>
<div class="jumbotron" style="background: rgba(0, 0, 0, 0.075); text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2022/05/24/04/38/study-7217599_1280.jpg" alt="Descripción de la imagen" style="max-width: 25%; height: auto; margin-bottom: 20px; border-radius: 10px;">
    <h2 class="display-4 text-light" style="font-weight: bold;">Método Cornell </h2>
    <p class="lead text-white">
        Fue desarrollado por un docente de la Universidad de Cornell y se basa en optimizar la forma de cómo tomamos apuntes y organizamos notas en clases para luego estudiarlas.  
        Esta técnica se basa en dividir una hoja en tres secciones. Tras ello, podrás anotar las notas de clase, palabras clave y un resumen corto en los espacios distribuidos.  
        Este método de estudio es perfecto para que los estudiantes repasen de una manera más efectiva. Ahora, veremos más a fondo los espacios que dividimos: 
        Notas de clase: En esta parte coloca tus apuntes principales. Trata de que sean oraciones cortas en forma de lista o viñetas. Intenta empleando abreviaturas y ejemplos. Esta sección irá al lado derecho y es el espacio más grande de todos. 
        Palabras clave: Por lo general, se hace luego de que termines las notas de clase. Aquí puede ir las frases que consideres esenciales para entender mejor el tema. También es un espacio para colocar y plantear preguntas que te hagas. Este sector estará en la parte izquierda.
        Resumen corto: Consiste en anotar concretamente qué fue lo que aprendiste en la clase o lección. La acción de ir de reversa y sintetizar la información te ayudará muchísimo en tu proceso de aprendizaje. 
        Esta es una de las tantas técnicas para estudiar que puedes realizar cuando aprendes nuevos temas en clase, al momento de leer separatas, libros, recursos electrónicos o simplemente hacer un resumen conciso.  
    </p>
</div>
<div class="jumbotron" style="background: rgba(0, 0, 0, 0.075); text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2019/07/11/14/24/reading-4330761_1280.jpg" alt="Descripción de la imagen" style="max-width: 25%; height: auto; margin-bottom: 20px; border-radius: 10px;">
    <h2 class="display-4 text-light" style="font-weight: bold;">Método Pomodoro </h2>
    <p class="lead text-white">
        Técnica basada en la concentración especial para las personas que tienden a distraerse mucho en sus redes sociales o páginas web mientras estudian. Su nombre proviene de los temporizadores de cocina en forma de tomate (pomodoro en italiano). 
        
        Consiste en destinar y distribuir tus tiempos para realizar una actividad como el estudio y concentrarte enteramente. Luego, tendremos un tiempo mucho menor en el que nos relajaremos y descansaremos. 
        
        Por ejemplo, puedes estudiar constantemente por 30 minutos y descansar 5. Los intervalos del método Pomodoro pueden variar dependiendo de la persona: de 35 a 7, 40 a 10 o 45 a 15 minutos.  
        
        Este método puede ser efectivo usando minuteros manuales, el temporizador de tu celular o aplicaciones especiales que te ayuden con esta técnica. A continuación, estas son las apps que pueden ayudarte: Forest, Focus To-Do, Brain Focus, Pomodoro Timer, entre otros. 
    </p>
</div>
<div class="jumbotron" style="background: rgba(8, 8, 8, 0.075); text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2020/02/17/20/32/study-4857779_1280.jpg" alt="Descripción de la imagen" style="max-width: 25%; height: auto; margin-bottom: 20px; border-radius: 10px;">
    <h2 class="display-4 text-light" style="font-weight: bold;">Método de Mnemotecnias   </h2>
    <p class="lead text-white">
        Otra técnica que puede ser de gran utilidad es el uso de mnemotecnias para el aprendizaje. Esto se basa en aprender un concepto o palabras memorizando una determinada secuencia de frases, códigos, nombres, datos o números relacionados. 

        En algunos casos, hay mucha información que debemos retener, por lo que este método de estudio universitario y escolar nos ayudará con ese proceso. 

        Existe muchas formas de utilizar esta técnica, a continuación, las enlistamos: 

        Iniciales: consiste en juntar las primeras letras de las palabras que queremos memorizar y juntarlas en un simple concepto. No es necesario que tenga algún sentido, sino que funcione para nosotros. Por ejemplo, los gases nobles son el helio, neón, argón, kriptón, xenón, radón; pero si utilizamos solo la primera letra de cada palabra y le podemos poner RHANKX. Este sería nuestra mnemotecnia.  
        Historia: crearemos una historia en base a los conceptos que queramos recordar. Para este caso, queremos recordar las siguientes palabras: Francia, Revolución, 1789.  Entonces nuestra historia ficticia tendrá que utilizar esos conceptos. Por ejemplo: El otro día quería comprarme una cerveza marca Revolución. Al momento de pagar, me di cuenta de que no recordaba la clave de mi tarjeta. Al caminar por la plaza Francia me acordé de que mi contraseña era 1789. 
        Nubes mentales: se basa en asociar conceptos con las palabras que queremos recordar. No necesariamente debe haber una conexión lógica. Por ejemplo, quiero recordar los países Italia, Alemania y Holanda; así que los asociaré a los nombres propios de Ítala, Alejandria y Yolanda. De esa forma podremos recordar estos conceptos de manera más fácil.  
    </p>
</div>

<div class="jumbotron" style="background: rgba(5, 5, 5, 0.075); text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/08/17/bible-1868359_1280.jpg" alt="Descripción de la imagen" style="max-width: 25%; height: auto; margin-bottom: 20px; border-radius: 10px;">
    <h2 class="display-4 text-light" style="font-weight: bold;">Escribir apuntes a mano </h2>
    <p class="lead text-white">
        Quizás suene algo obvio, pero escribir un nuevo aprendizaje manualmente en un papel pude ser uno de los ejemplos de métodos de estudio más grandes. 

        La virtualidad y la llegada del internet 4.0 nos ha llevado a automatizarnos; tanto es así que ahora preferimos usar nuestras laptops o libros electrónicos para tener cualquier apunte. 

        Lo cierto es que escribir a mano es una técnica clásica de estudio que te ayudará más de lo que crees. De acuerdo con un estudio publicado en la revista Psychological Science aprender a través de la escritura física es más beneficiosos que tecleando o simplemente observando.  

        “La escritura manual permite a las personas desarrollar una comprensión conceptual más sólida cuando se trata de procesar información”, explica el investigador Antonio Cantù, participante del mencionado estudio. 
    </p>
</div>

{% endblock content %}