{% extends "app_learning_logs/base.html" %}
{% block brand %} Home {% endblock brand %}
{% block page_header %}
<h1>Topics</h1>
<h3>Esta es tu lista actualizada de topicos ingresados: </h3>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'app_learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <li><h3>No topics have been added yet.</h3></li>
        {% endfor %}
    </ul>
    <a href="{% url 'app_learning_logs:new_topic' %}" class="btn btn-primary">Add a new topic</a>

{% endblock content %}
